<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.store.dao.BusGoodDao">
    <resultMap id="BaseMap" type="com.pm.entity.BusGood">
        <id column="bus_good_id" property="id"></id>
        <result column="bus_good_name" property="name"></result>
        <result column="bus_good_image" property="image"></result>
        <result column="bus_good_price" property="price"></result>
        <result column="bus_good_content" property="content"></result>
        <result column="bus_id" property="busId"></result>
    </resultMap>

    <insert id="save">
        INSERT INTO bus_good(bus_good_name,bus_good_image,bus_good_price,bus_good_content,bus_id)
        VALUES
        (#{name},#{image},#{price},#{content},#{busId})
    </insert>

    <select id="findAllById" resultMap="BaseMap" resultType="com.pm.entity.BusGood">
        select * from bus_good where bus_id=#{busId}
    </select>

    <select id="findAll" resultMap="BaseMap" resultType="com.pm.entity.BusGood">
        select * from bus_good
    </select>

    <delete id="delete">
        DELETE FROM bus_good WHERE bus_good_id=#{id}
    </delete>

    <select id="findById" resultMap="BaseMap" resultType="com.pm.entity.BusGood">
        select * from bus_good where bus_good_id=#{id}
    </select>

    <update id="updateBy">
        update bus_good
        <set>
            <if test="name != null">
                bus_good_name = #{name},
            </if>
            <if test="price != null">
                bus_good_price = #{price},
            </if>
            <if test="content != null">
                bus_good_content = #{content},
            </if>
            <if test="image != null">
                bus_good_image = #{image},
            </if>
            <if test="busId !=null">
                bus_id = #{busId},
            </if>
        </set>
        where bus_good_id = #{id}
    </update>
</mapper>