<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.comm.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.pm.entity.Reply">
    <id column="reply_id" jdbcType="INTEGER" property="replyId" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_dianzan" jdbcType="INTEGER" property="replyDianzan" />

    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="reply_content"  property="replyContent" />
    <result column="congress_hall_id"  property="congressHallId" />
    <association fetchType="lazy" column="user_id" property="user" javaType="com.pm.entity.User" select="com.pm.personal.dao.UserDao.findUserById" >
    </association>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pm.entity.Reply">

  </resultMap>

  <select id="findByCommentId"  resultMap="ResultMapWithBLOBs">
    select * from tb_reply WHERE comment_id=#{commentId};
  </select>

  <select id="findById"  resultMap="ResultMapWithBLOBs" resultType="com.pm.entity.Reply">
    select * from tb_reply WHERE comment_id=#{commentId};
  </select>

  <!--<insert id="insert"  parameterType="com.pm.entity.Reply">-->
    <!--INSERT INTO tb_comment(reply_content,reply_time,user_id,comment_id)-->
    <!--VALUES(#{replyContent},#{replyTime},#{user.userId},#{commentId})-->
  <!--</insert>-->



  <insert id="insert" parameterType="com.pm.entity.Reply">
    insert into tb_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
      <if test="user.userId != null">
        user_id,
      </if>
      <if test="replyDianzan != null">
        reply_dianzan,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="replyContent != null">
        reply_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.userId != null">
        #{user.userId,jdbcType=INTEGER},
      </if>
      <if test="replyDianzan != null">
        #{replyDianzan,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="replyContent != null">
        #{replyContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>